* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Barbie";
    src: url(Barbie\ .otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewYork";
    src: url(NewYork\ PERSONAL\ USE.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Voguella";
    src: url(Voguella.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    --cormarrom1: #E6DFD5;
    --cormarrom2: #A8815E;
    --cormarrom3: #A4641D;

}


body {
    background-color: #e9e9e9;
}

h1 {
    font-family: 'Barbie', Times, serif;
    font-weight: normal;
    text-align: center;
    font-size: 70px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.gradient {
    background: linear-gradient(to right, #522d02, #f7d9bdcb, #f5dcbe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2 {
    color: #A4641D;
}

.p {
    font-size: 30px;
    color: #A8815E;
    margin: 90px;
    text-align: justify;
}

.logo {
    width: 160px;
    height: auto;
    display: flex;

}


.alinhar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fundo.jpg');
    background-size: cover;
    /* para cobrir toda a tela */
    background-attachment: fixed;
    /* para fixar a imagem durante a rolagem */
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;

}

.content {
    position: relative;
    /* Garante que os filhos posicionados sejam relativos a este elemento */
    z-index: 1;
    /* Certifica-se de que o conteúdo fique acima do fundo */
}

.text-overlay {
    font-family: 'Voguella';
    margin-bottom: 2px;
    position: relative;
    background-color: rgba(155, 82, 13, 0.486);
    /* Cor de fundo com transparência */
    color: #fff;
    border-radius: 15px;
    padding: 70px;
    /* Espaçamento interno para o texto */
}

.desc-form {
    font-family: 'Voguella';
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 7px;
    font-size: 30px;
    color: #ebd5c1;
}

.font-form {
    font-size: 30px;
}

.form {
    margin-left: 90px;
    margin-right: 85px;
}

.h2 {
    margin: 20px;
    font-size: 60px;
}

.box {
    color: #7a4203;
    font-size: 20px;
    border: solid 30px #f7e0cd;
    border-width: 10px;
}

.buttom {
    font-size: 20px;
    padding: 9px;
    color: #7c3c03;

    text-align: center;
    /* Centralizar texto */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    /* Borda arredondada */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

.buttom:hover {
    color: #fff;
    background-color: #d4a570;

}

.description {
    color: #f0e2d7;
}

.footer {
    display: flex;
    background-color: rgb(117, 63, 12);
    border-radius: 15px;
    padding: 60px;
    margin-top: 10px;
    position: relative;
    justify-content: space-between;
    color: #f0e2d7;
    font-family: "Voguella";
    font-size: 18px;
    text-decoration: none;

}

.footer-contatos {
    color: #E6DFD5;

}

.a-footer {

    text-decoration: none;
    color: #fff;

}

.li-footer {
    list-style-type: none;
    margin: 10px;
    transition:  0.3s ease;
}

.li-footer:hover {

    transform: translateX(10px);

}

.social-icon {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4px;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: var(--cormarrom2);
    background-color: var(--cormarrom1);
    transition: 0.3s;
    text-decoration: none;
}


    .social-icons{
        display: flex;
        gap: 5px;
        
    }


.social-icon:hover {
    color: var(--cormarrom1);
    background-color: var(--cormarrom3);
    transform: scale(1.2);
}

.p-contat {
    text-decoration: none;
    color: inherit;
}


form {
    margin: 20px;
    text-align: justify;
}

textarea {
    border-radius: 10px;
    border: #e9e9e9;
    background-color: #fffefcb4;
    margin-top: 25px;
    font-size: 20px;
}

input {
    border-radius: 10px;
    border: #e9e9e9;
    background-color: #f7e0cd;
    margin-top: 25px;
    font-size: 200px;
}


header {
    background: linear-gradient(to right, #a15c0d, #7c3c03);
    position: fixed;
    top: 0;
    width: 2000px;
    filter: none;
    filter: none;
    z-index: 1000;
    /* Assegura que o header fica acima de outros elementos */
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.li {

    font-size: 24px;
    padding: 10px 20px;

}

.a {
    font-family: 'Voguella';
    text-decoration: none;
    color: #fff;
}

/*a:hover {
    color: #f7e0cd;

}